.video-card
{
    position: relative;
    width: 29.6rem;
    height: 28.05rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px rgb(48 48 48 / 54%);
}

.video-card:hover
{
    box-shadow: 0 0 25px 6px var(--offline-grey-color);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.video-card:not(:hover)
{
    transition: .5s ease-in-out;
}

.video-card-thumbnail-img
{
    width: 100%;
    height: 16.6rem;
    object-fit: cover;
}

.video-card-title
{
    padding: 0 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}