.liked-videos-container
{
    min-height: calc(100vh - 107.23px);
    grid-column: 2/3;
    padding: 2rem 6rem;
}

.dark-theme
{
    background-color: #0b5c72;
    color: white;
}

@media only screen and (max-width:1015px){
    .liked-videos-container
    {
        min-height: calc(100vh - 157.23px);
    }
}

.liked-videos-heading
{
    margin-bottom: 6rem;
}

.sadbox-lottie
{
    position: relative;
    bottom: 8rem;
}