@import url('https://enztron-temp-deployed-branch.netlify.app/components.css');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root
{
    --dark-grey     : #2F4858;
    --dark-grey-2   : #282c34;
    --royal-blue    : #29517C;
    --sky-blue      : #0e7490;
    --bluish-white  : #F5F7F9;
    --pure-white    : white;
    --red-color     : #ca0e1d;
    --background-color-dull-yellow: #e0e0d4;
    --yellow-background-color     : #efe6e1;
    --dull-grey     : #8f8f8f;
}

html
{
    font-family: 'Comfortaa', cursive;
}

body
{
    font-family: 'Comfortaa', cursive;
}

html, body
{
    height: auto;
    background-color: white;
}

.App {
    min-height: 100%;
    text-align: center;
    background-color: white;
    font-family: 'Comfortaa', cursive;
}

*::-webkit-scrollbar 
{
    height: 1em;
}
  
*::-webkit-scrollbar-track 
{
    background: var(--light-grey);
}
  
*::-webkit-scrollbar-thumb 
{
    background: var(--sky-blue);
}

a::after
{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background: var(--dark-blue-color);
}

a:hover::after
{
    width: 0;
}

.page-container
{
    min-height: calc(100vh - 107.23px);
    display: grid;
    grid-template-columns: 25rem 1fr;
}

@media only screen and (max-width:1015px){
    .page-container
    {
        min-height: calc(100vh - 157.23px);
    }
}

.videos-container
{
    width:100%;
    min-height: 40rem;
    display: grid;
    justify-content: space-between;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit,29.6rem);
}

.red-solid-btn
{
    width: fit-content;
    color: var(--pure-white);
    background-color: var(--red-color);
}

.red-solid-btn 
{
    background-position: center;
    transition: background 0.5s;
}

.red-solid-btn:hover 
{
    background: var(--red-color)
                radial-gradient(circle, transparent 1%, 
                                    var(--red-color) 1%) center/15000%;
}

.red-solid-btn:active 
{
    background-color: var(--red-color);
    background-size: 100%;
    transition: background 0s;
}